{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <title>Register</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        body {background: #DEE6E0;}

        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    <!-- {% block title %}
    Create an Account
    {% endblock %} -->
    {% block content %}
    <div class="d-flex p-2 justify-content-center align-items-center flex-column">
        <div class="logo">
            <img src="{% static 'schoolapi/images/logos.png' %}" alt="My image">
        </div>
        <form method="post" class="form-group" style="width: 25%; color: #248680">
            {%csrf_token%}
            {{form|crispy}}
            <div class="text-center">
                <button type="submit" class="btn btn-success" style="width: 122px; height: 48px; background: #1D5450; color: #DEE6E0; border-radius: 10px; border: none; padding: none; font-size: 16px; margin-top: 40px;">
                    Register
                </button>
                <p class="p-2">
                    Have an account? Login <a href="/login">here</a>.
                </p>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
