<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <title>Dashboard</title>
</head>
<body>
    <h1 style= "margin: 10px">
        Dashboard
    </h1>


    <div class="classes-container" style= "margin: 10px">
        <h2 class="border-bottom border-primary">
            Classes
        </h2>
        <button type="button" onclick="window.location.href='/add-class'" class="btn btn-primary btn-lg border-0">
            Add Class
        </button>
        {% for class in classes %}
        <div class="classes-item border-bottom border-primary">
            <p>{{class.name}}
                <br>
                Time: {{class.time}}
                <br>
                Section: {{class.section}}
                <br>
                Room: {{class.room}}
            </p>
            <a href="{% url 'update-class' class.id%}" class=" border-0 btn btn-success">
                Update Class
            </a>
            <a href="{% url 'delete-class' class.id%}" class="border-0 btn btn-danger">
                Delete Class
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="exams-container" style = "float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Exams
        </h2>
        <button type="button" onclick="window.location.href='/add-exam'" class="btn btn-primary btn-lg border-0">
            Add Exam
        </button>
        {% for exam in exams %}
        <div class="exams-item border-bottom border-primary">
            <p>{{exam.name_name}}
                <br>
                Date: {{exam.date}}
                <br>
                Description: {{exam.description}}
                <br>
                Priority: {{exam.priority}}
                <br>
                Time Limit: {{exam.time_limit}}
                <br>
                Room: {{exam.room}}
            </p>
            <!-- <a href="{% url 'update-class' exam.id%}" class=" border-0 btn btn-success">
                Update Class
            </a>
            <a href="{% url 'delete-class' exam.id%}" class="border-0 btn btn-danger">
                Delete Class
            </a> -->
        </div>
        {% endfor %}
    </div>
    <div class="homework-container" style = "float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Homework
        </h2>
        <button type="button" onclick="window.location.href='/add-homework'" class="btn btn-primary btn-lg border-0">
            Add Homework
        </button>
        {% for hw in homework %}
        <div class="exams-item border-bottom border-primary">
            <p>{{hw.name_name}}
                <br>
                Date: {{hw.date}}
                <br>
                Description: {{hw.description}}
                <br>
                Priority: {{hw.priority}}
                <br>
                No Questions: {{hw.no_questions}}
            </p>
            <!-- <a href="{% url 'update-class' hw.id%}" class=" border-0 btn btn-success">
                Update Class
            </a>
            <a href="{% url 'delete-class' hw.id%}" class="border-0 btn btn-danger">
                Delete Class
            </a> -->
        </div>
        {% endfor %}
    </div>
    <div class="assignment-container" style = "float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Assignments
        </h2>
        <button type="button" onclick="window.location.href='/add-assignment'" class="btn btn-primary btn-lg border-0">
            Add Assignment
        </button>
        {% for assignment in assignments %}
        <div class="exams-item border-bottom border-primary">
            <p>{{assignment.name_name}}
                <br>
                Date: {{assignment.date}}
                <br>
                Description: {{assignment.description}}
                <br>
                Priority: {{assignment.priority}}
                <br>
                Group Members: {{assignment.group_members}}
                <br>
                Module: {{assignment.module}}
            </p>
            <!-- <a href="{% url 'update-class' assignment.id%}" class=" border-0 btn btn-success">
                Update Class
            </a>
            <a href="{% url 'delete-class' assignment.id%}" class="border-0 btn btn-danger">
                Delete Class
            </a> -->
        </div>
        {% endfor %}
    </div>
</body>