<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <title>Dashboard</title>
</head>
<body>
    <h1>
        Dashboard
    </h1>
    <button type="button" onclick="window.location.href='/add-class'" class="btn btn-primary btn-lg border-0">
        Add Class
    </button>
    <div class="classes-container">
        <h2 class="border-bottom border-primary">
            Classes
        </h2>
        {% for class in classes %}
        <div class="classes-item border-bottom border-primary">
            <p>{{class.name}}
                <br>
                Time: {{class.time}}
                <br>
                Section: {{class.section}}
                <br>
                Room: {{class.room}}
            </p>
            <a href="{% url 'update-class' class.id%}" class=" border-0 btn btn-success">
                Update Class
            </a>
            <a href="{% url 'delete-class' class.id%}" class="border-0 btn btn-danger">
                Delete Class
            </a>
        </div>
        {% endfor %}


    </div>
</body>