<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <title>Dashboard</title>
</head>
<body>
    <button style="background: none; border: none;"><a href="/logout" style="color: rgb(218, 0, 0); font-weight: bold">Logout</a></button>
    <h1 style="margin: 10px">
        Dashboard
    </h1>


    <div class="classes-container" style="margin: 10px">
        <h2 class="border-bottom border-primary">
            Classes
        </h2>
        <button type="button" onclick="window.location.href='/add-class'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for class in user.class_set.all %}
        <div class="classes-item border-bottom border-primary">
            <p>
                {{class.name}}
                <br>
                Time: {{class.time}}
                <br>
                Section: {{class.section}}
                <br>
                Room: {{class.room}}
            </p>
            <a href="{% url 'update-class' class.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-class' class.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="exams-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Exams
        </h2>
        <button type="button" onclick="window.location.href='/add-exam'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for exam in user.exam_set.all %}
        <div class="exams-item border-bottom border-primary">
            <p>
                {{exam.cName}}
                <br>
                Date: {{exam.date}}
                <br>
                Description: {{exam.description}}
                <br>
                Priority: {{exam.priority}}
                <br>
                Start Time: {{exam.start_time}}
                <br>
                Room: {{exam.room}}
            </p>
            <a href="{% url 'update-exam' exam.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-exam' exam.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="homework-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Homework
        </h2>
        <button type="button" onclick="window.location.href='/add-homework'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for hw in homework %}
        <div class="exams-item border-bottom border-primary">
            <p>
                {{hw.name_name}}
                <br>
                Date: {{hw.date}}
                <br>
                Description: {{hw.description}}
                <br>
                Priority: {{hw.priority}}
                <br>
                No Questions: {{hw.no_questions}}
            </p>
            <a href="{% url 'update-homework' hw.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-homework' hw.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="assignment-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Assignments
        </h2>
        <button type="button" onclick="window.location.href='/add-assignment'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for assignment in assignments %}
        <div class="exams-item border-bottom border-primary">
            <p>
                {{assignment.name_name}}
                <br>
                Date: {{assignment.date}}
                <br>
                Description: {{assignment.description}}
                <br>
                Priority: {{assignment.priority}}
                <br>
                Group Members: {{assignment.group_members}}
                <br>
                Module: {{assignment.module}}
            </p>
            <a href="{% url 'update-assignment' assignment.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-assignment' assignment.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="club-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Clubs
        </h2>
        <button type="button" onclick="window.location.href='/add-club'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for club in clubs %}
        <div class="clubs-item border-bottom border-primary">
            <p>
                {{club.name}}
                <br>
                Meeting Time: {{club.meeting_time}}
                <br>
            </p>
            <a href="{% url 'update-club' club.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-club' club.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="event-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Events
        </h2>
        <button type="button" onclick="window.location.href='/add-event'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for event in events %}
        <div class="events-item border-bottom border-primary">
            <p>
                {{event.name}}
                <br>
                Date: {{event.date}}
                <br>
                Description: {{event.description}}
                <br>
                Host: {{event.host}}
                <br>
                Type: {{event.type}}
                <br>
                Club: {{event.club_name}}
            </p>
            <a href="{% url 'update-event' event.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-event' event.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="finance-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Finance
        </h2>
        <button type="button" onclick="window.location.href='/add-finance'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for f in finance %}
        <div class="finance-item border-bottom border-primary">
            <p>
                Initial Budget: {{f.initialBudget}}
                <br>
                Income: {{f.income}}
                <br>
                Tuition: {{f.tuition}}
                <br>
                Equipment: {{f.equipment}}
                <br>
                Books: {{f.books}}
            </p>
            <a href="{% url 'update-finance' f.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-finance' f.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="examPrep-container" style="float: left; margin: 10px">
        <h2 class="border-bottom border-primary">
            Exam Prep
        </h2>
        <button type="button" onclick="window.location.href='/add-examprep'" class="btn btn-primary btn-lg border-0">
            Add
        </button>
        {% for ep in exam_prep %}
        <div class="examPrep-item border-bottom border-primary">
            <p>
                Exam: {{ep.exam}}
                <br>
                Prep Type: {{ep.prep_type}}
            </p>
            <a href="{% url 'update-examprep' ep.id%}" class=" border-0 btn btn-success">
                Update
            </a>
            <a href="{% url 'delete-examprep' ep.id%}" class="border-0 btn btn-danger">
                Delete
            </a>
        </div>
        {% endfor %}
    </div>
</body>