<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        body {background: #DEE6E0;}

        * {
            font-family: 'Montserrat', sans-serif;
        }

        .centerText {
            text-align: center;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <title>Delete {{data.name}}</title>
</head>
<body>
    <div class="d-flex p-2 flex-column justify-content-center align-items-center" style="height: 75vh">
        <form method="POST" style="color: #1D5450; font-size: 36px; font-weight: bolder; margin-top: 2%;">
            {% csrf_token %}
            <p>
                Are you sure you want to delete item?
                <!-- '{{data.name}}' -->
            </p>
            <div class="d-flex justify-content-center align-items-center" style="width: 100%; margin-top: 5%;">
                <input type="submit" value="Yes" style="margin-right: 5%; width: 122px; height: 48px; background: #cc4d4d; color: #DEE6E0; border-radius: 10px; border: none; padding: none; font-size: 24px;"/>
                <a href="javascript:history.back()" style="text-decoration: none; font-size: 24px; margin-left: 5%;">
                    No
                    <!-- <button style="width: 122px; height: 48px; background: #248680; color: #DEE6E0; border-radius: 10px; border: none; padding: none; font-size: 24px; margin-top: 40px;">
                    </button> -->
                </a>
            </div>
        </form>
    </div>
</body>
</html>