{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <style>
        body {background: #DEE6E0;}

        * {
            font-family: 'Montserrat', sans-serif;
        }

        .centerText {
            text-align: center;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .horz-center {
            justify-content: center;
        }

    </style>
    <script src="{% url 'js-catalog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <title>
        Form
    </title>
</head>
<body>
    {{form.media}}
    <div class="horz-center">
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 75vh;">
            <div class="p-2" style="color: #1D5450; font-size: 48px; font-weight: bolder;">
                <p id=href></p>
            </div>
            <script>
                let path = window.location.pathname;
                let title = "";
                for (let i = 0; i < path.length; i++) {
                    if ((/[a-zA-Z]/).test(path.charAt(i))) {
                        title += path[i];
                    }
                    if (path.charAt(i) == "-") {
                        title += " ";
                    }
                }
                var words = title.toLowerCase().split(" ");
                for (var i = 0; i < words.length; i++) {
                    words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                }
                title = "";
                for (var i = 0; i < words.length; i++) {
                    title += words[i] + " ";
                }
                document.getElementById("href").innerHTML = title;
            </script>
            <form class="form-group p-2" method="post" style="color: #248680; font-size: 16px; width: 25%;">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="centerText">
                    <button type="submit"style="width: 122px; height: 48px; background: #1D5450; color: #DEE6E0; border-radius: 10px; border: none; padding: none; font-size: 16px; margin-top: 40px;">
                        Submit →
                    </button>
                </div>

            </form>
        </div>

    </div>
    <button VALUE="Back" onClick="history.go(-1);" style="width: 56px; height: 56px; background: #1D5450; border-radius: 28px; color: #DEE6E0; border: none; padding: none; font-size: 20px; position: absolute; top: 32px; right: 32px;">
        x
    </button>
</body>
</html>