{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />

    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'schoolapi/css/style.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<style>
    .row {
    width: 100%;
    margin: 0 auto;
    }
    .block {
    width: 300px;
    display: inline-block
    }
</style>
<body>
    <div class="top-nav-container">
        <div class="wrapper">
            <nav role="main">
                <div class="title">
                    Tasks
                </div>

                <div class="logo">
                    <img src="{% static 'schoolapi/images/logos.png' %}" alt="My image">
                </div>

                <div class="username">
                    {{user.get_username}}
                </div>

                <div class="logout" href="/login">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>

            </nav>
        </div>

    </div>

    <div class="side-nav-container" style="height: 170%;">
        <div class="sidebar" style="top: 50px;">
        </div>
        <div class="wrapper">
            <nav id="menubar">
                <ul class="nav-items">
                    <li>
                        <a href="/">Dashboard</a>
                    </li>
                    <li>
                        <a href="/tasks">Tasks</a>
                    </li>
                    <li>
                        <a href="/clubsEvents">Clubs & Events</a>
                    </li>
                    <li>
                        <a href="/finances">Finance</a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>

    <div class="exams-container row">
        <div class="item-title">
            Exams
        </div>
        <button type="button" onclick="window.location.href='/add-exam'" class="btn-add-item" style="left: 330px;">
            <img src="{% static 'schoolapi/images/add.png' %}">
        </button>
        {% for exam in user.exam_set.all %}
        <div class="item-attributes block">
            <div class="item-background">
            </div>
            <ul class="show-items" style="position: absolute;">
                <li id="name">
                    {{exam.task_name}}
                </li>
                <li>
                    Class: {{exam.className}}
                </li>
                <li>
                    Date: {{exam.date}}
                </li>
                <li style="overflow: auto;">
                    Description: {{exam.description}}
                </li>
                <li>
                    Start Time: {{exam.start_time}}
                </li>
                <li>
                    Room: {{exam.room}}
                </li>

                <li id="btn-update-item">
                    <a href="{% url 'update-exam' exam.id%}">
                        <img src="{% static 'schoolapi/images/edit.png' %}">
                    </a>
                </li>

                <li id="btn-delete-item">
                    <a href="{% url 'delete-exam' exam.id%}">
                        <img src="{% static 'schoolapi/images/Delete.png' %}">
                    </a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="exam_prep-container row">
        <div class="item-title" style="margin-top: 390px">
            Exam Prep
        </div>
        <button type="button" onclick="window.location.href='/add-exam-prep'" class="btn-add-item" style="margin-top: 390px; margin-left: 50px;">
            <img src="{% static 'schoolapi/images/add.png' %}">
        </button>
        {% for e in user.examprep_set.all %}
        <div class="item-attributes block">
            <div class="item-background">
            </div>
            <ul class="show-items" style="position: absolute; margin-top: 490px;">
                <li id="name">
                    {{e.exam}}
                </li>
                <li>
                    Prep Type: {{e.prep_type}}
                </li>


                <li id="btn-update-item">
                    <a href="{% url 'update-exam-prep' e.id%}">
                        <img src="{% static 'schoolapi/images/edit.png' %}">
                    </a>
                </li>

                <li id="btn-delete-item">
                    <a href="{% url 'delete-exam-prep' e.id%}">
                        <img src="{% static 'schoolapi/images/Delete.png' %}">
                    </a>
                </li>

            </ul>

        </div>
        {% endfor %}
    </div>

    <div class="homework-container row">
        <div class="item-title" style="margin-top: 730px">
            Homework
        </div>
        <button type="button" onclick="window.location.href='/add-homework'" class="btn-add-item" style="margin-top: 730px; margin-left: 50px;">
            <img src="{% static 'schoolapi/images/add.png' %}">
        </button>
        {% for hw in user.homework_set.all %}
        <div class="item-attributes block">
            <div class="item-background">
            </div>
            <ul class="show-items" style="position: absolute; margin-top: 830px;">
                <li id="name">
                    {{hw.task_name}}
                </li>
                <li>
                    Class: {{hw.className}}
                </li>
                <li>
                    Date: {{hw.date}}
                </li>
                <li style="overflow: auto;">
                    Description: {{hw.description}}
                </li>
                <li>
                    Priority: {{hw.priority}}
                </li>
                <li>
                    No Questions: {{hw.no_questions}}
                </li>

                <li id="btn-update-item">
                    <a href="{% url 'update-homework' hw.id%}">
                        <img src="{% static 'schoolapi/images/edit.png' %}">
                    </a>
                </li>

                <li id="btn-delete-item">
                    <a href="{% url 'delete-homework' hw.id%}">
                        <img src="{% static 'schoolapi/images/Delete.png' %}">
                    </a>
                </li>

            </ul>

        </div>
        {% endfor %}
    </div>

    <div class="assignment-container row">
        <div class="item-title" style="margin-top: 1120px">
            Assignment
        </div>
        <button type="button" onclick="window.location.href='/add-assignment'" class="btn-add-item" style="margin-top: 1120px; margin-left: 70px;">
            <img src="{% static 'schoolapi/images/add.png' %}">
        </button>
        {% for assignment in user.assignment_set.all %}
        <div class="item-attributes block">
            <div class="item-background">
            </div>
            <ul class="show-items" style="position: absolute; margin-top: 1220px;">
                <li id="name">
                    {{assignment.task_name}}
                </li>
                <li>
                    Class: {{assignment.className}}
                </li>
                <li>
                    Date: {{assignment.date}}
                </li>
                <li style="overflow: auto;">
                    Description: {{assignment.description}}
                </li>
                <li>
                    Priority: {{assignment.priority}}
                </li>
                <li style="overflow: auto;">
                    Group Members: {{assignment.group_members}}
                </li>
                <li style="overflow: auto;">
                    Module: {{assignment.module}}
                </li>

                <li id="btn-update-item">
                    <a href="{% url 'update-assignment' assignment.id%}">
                        <img src="{% static 'schoolapi/images/edit.png' %}">
                    </a>
                </li>

                <li id="btn-delete-item">
                    <a href="{% url 'delete-assignment' assignment.id%}">
                        <img src="{% static 'schoolapi/images/Delete.png' %}">
                    </a>
                </li>

            </ul>

        </div>
        {% endfor %}
    </div>

</body>
</html>